<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" bg-zinc-700 w-screen min-h-[300vh] p-10  flex-wrap">
        <a class="text-[blue] block bg-zinc-700 p-5 text-[2vw] mt-[2vw] mb-[4vw]" href="/">Go back to home page </a>
      <h1 class="mt-5 text-[2vw]  text-[white] spacing-[5vh]  tracking-tighter"><%= filename %></h1> 
      <p class="mt-2 text-[2vw] text-[white] opacity-[.6] spacing-[5vh] tracking-tighter"><%= filedata %></p>
    </div>
</body>
</html>
